.ChatInput {
  margin-top: 10px;
  position: relative;
}

.ChatInput-submit {
  position: absolute;
  top: 5px;
  right: 0px;

  button {
    background-color: lightgrey;
    border: none;
  }
}

.ChatInput-input {
  width: 100%;
  background-color: lightgrey;
  border-radius: 10px;
  padding: 5px;
}
