.ChatUser {
  display: flex;
  font-size: 18px;
}

.ChatUser-HeartBtn {
  margin-left: auto;

  button {
    cursor: pointer;
    font-size: 22px;
    border: none;
    background-color: white;
  }
}
