.ChatUserCard {
  display: flex;
  // margin-bottom: 20px;
  position: relative;

  .ChatUserCard-text {
    margin-left: 15px;
    font-size: 15px;
    overflow-wrap: break-word;

    .ChatUserCard-userName {
      font-weight: 900;
      margin-right: 10px;
    }
  }
}

#ChatUserCard-img {
  border-radius: 50%;
  cursor: pointer;
}

.ChatUserCard-HeartBtn {
  button {
    cursor: pointer;
    background-color: white;
    border: none;
    font-size: 16px;
  }
}

.ChatUserCard-reply {
  margin-left: 55px;
}

.ChatUserCard-chat-grey {
  font-size: 12px;
  color: rgb(160, 160, 160);
  cursor: pointer;
}
