.Chat {
  padding: 20px;
  border-right: 2px solid #777777;
  border-top: 2px solid #777777;
  border-bottom: 2px solid #777777;
  border-radius: 0px 10px 10px 0px;
  height: 100%;

  .chat-userCard {
    height: 470px;
    overflow-y: scroll;
  }
}
