.ChatUserCard {
  display: flex;
  margin-bottom: 20px;

  .ChatUserCard-text {
    margin-left: 15px;
    font-size: 17px;
    overflow-wrap: break-word;

    .ChatUserCard-userName {
      font-weight: 900;
      margin-right: 10px;
    }
  }

  .ChatUserCard-chat {
    span {
      font-size: 13px;
      color: rgb(160, 160, 160);
      cursor: pointer;
    }
  }
}

#ChatUserCard-img {
  border-radius: 50%;
  cursor: pointer;
}
