.MentionInput {
  position: relative;
  input {
    width: 100%;
    border-radius: 10px;
    border: none;
    background-color: lightgrey;
    padding: 10px;
    outline: none;
    padding-right: 30px;
  }
}
