.gantt_task_progress {
  display: none;
}

.gantt_link_point,
.gantt_link_control {
  display: none;
}

$colors: (
  0: hsl(0, 50%, 70%),
  1: hsl(30, 50%, 70%),
  2: hsl(60, 50%, 70%),
  3: hsl(90, 50%, 70%),
  4: hsl(120, 50%, 70%),
  5: hsl(150, 50%, 70%),
  6: hsl(180, 50%, 70%),
  7: hsl(210, 50%, 70%),
  8: hsl(240, 50%, 70%),
  9: hsl(270, 50%, 70%),
  10: hsl(300, 50%, 70%),
  11: hsl(330, 50%, 70%),
  12: hsl(360, 50%, 70%),
);

@each $index, $color in $colors {
  .task-color-#{$index} .gantt_task_bar {
    background-color: #{$color} !important;
  }
}

.gantt-chart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  // padding: 20px;
  margin: 0px;
  width: 100vw;

  .gantt {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1300px;
    height: 80vh;
  }
  .gantt_add,
  .gantt_task_add {
    display: none;
  }
}
