.OtherTodo-wrap {
  display: flex;
  width: 100%;
  gap: 30px;
  justify-content: space-between;
}

.OtherTodo {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  // border-top: 1px solid lightgrey;
  // border-bottom: 1px solid lightgrey;
}
