.TodoCreate {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  z-index: 1000000000;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: fadeIn;
  animation-duration: 0.2s;
}

.TodoCreate-wrap {
  width: 350px;
  position: relative;
  padding: 10px 25px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 2px 2px 2px 2px grey;
}

.TodoCreate-title {
  margin-bottom: 20px;
  input {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid lightgrey;
    outline: none;
  }
}

.TodoCreate-btn {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
  button {
    cursor: pointer;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    width: 150px;
    color: white;
  }
}
