a {
    text-decoration: none;
    color: black;
}

//이메일 인증
#find_content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .email_input {
        // border: 1px solid black;
        width: 100%;
        display: grid;
        place-items: center;

        .auth_button {
            position: absolute;
            background-color: transparent;
            border: none;
            margin-left: 25vw;
            margin-bottom: 12px;
        }
    }
    .authcode_input {
        width: 100%;
        display: grid;
        place-items: center;
        .auth_time {
            position: absolute;
            background-color: transparent;
            border: none;
            margin-left: 25vw;
            margin-bottom: 12px;
            color: red;
        }
    }
}

//아이디 찾기
.check_container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .check_id {
        margin: 150px;
    }
    .findpassword_button {
        border: none;
        background-color: #71c9ce;
        width: 30%;
        height: 40px;
        margin-bottom: 20px;
        color: white;
        padding-top: 15px;
        // font-size: 15px;
    }
    .login_button {
        border: none;
        background-color: transparent;
    }
}

//비밀번호 찾기
#pwfind_container {
    #find_content {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .name_box {
        width: 30%;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
