.init_likemodal {
  border: none;
  border-radius: 2rem;
  background-color: #000;
  padding: 2rem;
  min-height: 50vh;
  min-width: 40vw;
  max-height: 100%;
  display: grid;
  gap: 2rem;
}

.init_section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: transparent;
  .init_section_text {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
  }
  input {
    height: 100%;
    border-radius: 1rem;
  }
}
.init_section__info {
  display: flex;
  gap: 0.5rem;
}

.init_section__id {
  input {
    width: 100%;
  }
}

.init_section__email {
  display: flex;
  background-color: #fff;
  border-radius: 1rem;
  input {
    display: flex;
    flex: 1;
    border: none;
    background-color: transparent;
  }
  button {
    background-color: transparent;
    border: none;
    margin-right: 5px;
  }
}
.init_section__auth {
  display: flex;
  justify-content: space-between;
  border-radius: 1rem;
  background-color: #fff;
  input {
    display: flex;
    flex: 1;
    border: none;
  }
  span {
    font-size: 12px;
    padding: 1rem;
    min-width: 20px;
    color: #fa3333;
  }
}

.init_section_action {
  button {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
    border: 1px solid #fff;
    &:hover {
      background-color: #fff;
      color: #000;
    }
  }
}
