.addroom-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  width: 60%;
  height: 600px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    text-align: start;
    width: 70%;
    margin-top: 0px;
    margin-bottom: 5px;
  }

  .header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;

    .close-button {
      background-color: transparent;
      border: none;
      padding-right: 10px;
      cursor: pointer;
    }
  }

  .modal-content {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .left-section, .right-section {
    flex: 1;
    padding: 16px;
  }

  .left-section {
    border-right: 1px solid #ccc;
    .people-list {
      background-color: rgb(216, 216, 216);
      height: 300px;
      width: 100%;
      margin-bottom: 20px;
      margin-top: 10px;
      border-radius: 8px;
      overflow-y: auto;

      ul {
        list-style: none;
        padding: 0;
        margin: 0;
      }

      li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        border-bottom: 3px solid #ccc;

        &:last-child {
          border-bottom: none;
        }
      }

      .avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 8px;
      }

      button {
        padding: 5px 10px;
        background-color: #71c9ce;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
          background-color: darken(#60aeb3, 10%);
        }

        &:active {
          background-color: #71c9ce;
        }
      }

      .button-selected {
        background-color: #ccc;
        color: #333;
        cursor: not-allowed;
      }
    }
  }

  .right-section {
    position: relative;
  
    .selected-people-list {
      list-style: none;
      padding: 0;
      margin: 0;
    }
  
    .selected-person-item {
      display: flex;
      align-items: center;
      margin-bottom: 8px;
  
      .avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 8px;
      }
    }
  
    .selected-people {
      margin-top: 16px;
    }
  
    button {
      position: absolute;
      bottom: 20px;
      right: 20px;
      margin-top: 20px;
    }
  }
  
}
