.message_page {
  display: flex;
  flex-direction: row;
  height: 100vh;
  // width: 80vw;
}

.message_container {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

  .message_header {
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: space-between;

    .header_left {
      display: flex;
      align-items: center;
    }

    .message_profile_image {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      margin-left: 10px;
    }

    .message_profile_name {
      margin-left: 10px;
      font-size: 1.5rem;
    }

    .kebab_button {
      margin-left: auto;
    }
  }

  #messages {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
    background-color: rgb(255, 255, 255);

    #pre_messages {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    .message-profile-img{
      width: 30px;
      height: 30px;
      border-radius: 50px;
      margin-right: 5px;
    }
   

    img {
      max-width: 100%;
    }

    .message_self {
      text-align: right;
      
      
      span {
        padding: 10px;
        background-color: #71c9ce;
      }
      // span:hover{
      //   background-color: red;
      // }

      .file:hover{
        color: rgb(90, 90, 90);
      }

      .message_self {
        // display: flex;
        display: inline-block;
        color: white;
        padding: 10px;
        border-radius: 10px;
        margin-bottom: 5px;
        max-width: 40%;
        margin-left: auto;
        white-space: normal;
        overflow-wrap: break-word;
      }
    }

    .message_other {
      text-align: left;

      .message_other {
        // display: flex;
        display: inline-block;
        background-color: #e0e0e0;
        padding: 10px;
        border-radius: 10px;
        margin-bottom: 5px;
        max-width: 40%;
        margin-right: auto;
        white-space: normal;
        overflow-wrap: break-word;

      }
    }

    .message_system {
      text-align: center;
      display: flex;
      justify-content: center;
      display: flex;
      background-color: #ffffff;
      padding: 10px;
      margin-bottom: 15px;
      max-width: 100%;
      overflow-wrap: break-word;
    }
  }

  .form_container {
    display: flex;
    background-color: #e0e0e0;
    padding: 5px;
    border-radius: 30px;
    margin: 10px;
    align-items: center;

    #send_file_button {
      background-color: transparent;
      border: none;
      cursor: pointer;
      margin-right: 10px;

      svg {
        width: 25px;
        height: 25px;
        color: gray;
      }
    }

    #message_input {
      flex: 1;
      padding: 10px;
      border: none;
      border-radius: 20px;
      outline: none;
      background-color: transparent;
      font-size: 14px;
      margin-right: 10px;
    }

    #send_message_button {
      background-color: transparent;
      border: none;
      cursor: pointer;

      svg {
        width: 25px;
        height: 25px;
        color: gray;
      }
    }
  }
}

.load_more_button {
  background-color: transparent;
  color: rgb(114, 114, 114);
  padding: 10px;
  border: none;
  cursor: pointer;
  margin: 10px auto;

  &:hover {
    color: #464646;
  }

  &:active {
    color: #bebebe;
  }
}

