.BigNav {
  position: fixed;
  display: flex;
  flex-direction: column;
  border-right: 1px solid black;
  height: 100vh;
  width: 180px;
  padding: 20px;
  transition: all 1s;
}

.None {
  display: none;
}

.Block {
  display: block;
}

.BigNav-menuWrap {
  height: 100%;
}
.BigNav-menu {
  cursor: pointer;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 20px;
  &:hover {
    border-bottom: 1px solid black;
  }
}

%toggle-btn {
  cursor: pointer;
  width: 20px;
  text-align: center;
  padding: 0px;
  background-color: white;
  border: none;
  &:hover {
    border-bottom: 1px solid black;
  }
}

.Nav-toggle-btn {
  @extend %toggle-btn;
  transform: translateX(120px);
}

.Nav-toggle-btn-open {
  @extend %toggle-btn;
}

.empty {
  width: 200px;
  height: 100vh;
}
