.nav {
  position: fixed;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 100%;
  width: 210px;
  border-right: 1px solid black;
  padding: 20px;
  top: 0px;

  h1 {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 2.5rem;
    width: 50px;
  }
}

.navMenuWrap {
  height: 100%;
}

.navItem {
  cursor: pointer;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
  width: auto;

  &:hover {
    p {
      border-bottom: 1px solid var(--gray5);
    }
  }
}

.navCloseButton {
  position: fixed;
  left: 40px;
  top: 0px;
}

@media (max-width: 960px) {
  .nav {
    width: 70px;
  }
  .navItem {
    margin-bottom: 35px;
  }
  .navItem p {
    display: none;
  }
}
