.registermodal_contaniner {
    position: fixed; // 포지션을 fixed로 설정
    top: 50%; // 상단에서 50% 위치
    left: 50%; // 왼쪽에서 50% 위치
    transform: translate(-50%, -50%); // 정확한 중앙 정렬을 위해 변환 사용
    padding: 20px;

    width: 50%;
    height: 600px;
    background-color: #fff; // 밝은 배경
    border-radius: 8px; // 모서리 둥글게
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); // 그림자 효과
    text-align: center;
    p {
        margin: 10px 0;
        color: #333; // 어두운 글자 색
        font-size: 16px;
        line-height: 1.5;
    }
    h1 {
        float: left;
        padding-left: 25px;
    }
}
