.MentionTextarea {
  position: relative;
  textarea {
    width: 90%;
    height: 180px;
    padding: 10px;
    outline: none;
    border: none;
    resize: none;
    font-size: 17px;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
