p {
  margin: 0px;
}

.Texts {
  margin-top: 5px;
}

.Texts-good {
  margin-top: 10spx;
}

.Texts-id {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 5px;
}

.Texts-content {
  margin-bottom: 10px;
}
