.UserInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 500px;
  width: 100%;

  div {
    display: flex;
    align-items: center;
  }
}

.UserInfo-clock {
  margin-left: 15px;
  height: 42px;
  color: #777777;
  font-size: 14px;
}

.UserInfo-setting-btn {
  cursor: pointer;
  background-color: white;
  border: none;
  position: relative;
  bottom: 10px;
  font-size: 20px;

  &:hover {
    border-bottom: 1px solid black;
  }
}
