.search_post_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
  }
  
  .search_post_box {
    background-color: #fff;
    padding: 20px;
    width: 80%;
    
    .search_post_top {
      position: fixed;
      top: 0;
      width: 100%;
      padding: 10px;
      z-index: 1000;
      display: flex;
      
      .hashtag_img {
        width: 100px;
        height: 90px;
        background-color: transparent;
      }
    }
  }
  
  .search_posts {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    list-style-type: none;
    padding: 0;
  }
  
  .search_post {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
    position: relative; /* Positioning context for the post-footer */
    
    .post-content {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 100%;
      height: 100%;
      
      .post-image {
        width: 100%;
        height: 100%;
        // object-fit: cover
      }
    }
  
    .post-footer {
      display: none;
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(128, 128, 128, 0.8);
      padding: 10px;
      box-sizing: border-box;
    }
  
    &:hover .post-footer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  .search_post:nth-child(1) {
    background-color: #ffdfd3; /* Pastel Pink */
  }
  
  .search_post:nth-child(2) {
    background-color: #d4f1f4; /* Pastel Light Blue */
  }
  
  .search_post:nth-child(3) {
    background-color: #c1e1c1; /* Pastel Green */
  }
  
  .search_post:nth-child(4) {
    background-color: #f9e2af; /* Pastel Yellow */
  }
  
  .search_post:nth-child(5) {
    background-color: #e4c1f9; /* Pastel Purple */
  }
  
  .search_post:nth-child(6) {
    background-color: #fbdce2; /* Pastel Peach */
  }
  
  .search_post:nth-child(7) {
    background-color: #d3e0ea; /* Pastel Blue */
  }
  
  .search_post:nth-child(8) {
    background-color: #fee9b2; /* Pastel Orange */
  }
  
  .search_post:nth-child(9) {
    background-color: #c2f0fc; /* Pastel Cyan */
  }
  
  .search_post:nth-child(10) {
    background-color: #f5c6ec; /* Pastel Magenta */
  }