.ProfileUpdateInfo {
  margin-top: 30px;
}
.ProfileUpdateInfo-intro {
  margin-bottom: 30px;
  p {
    margin-bottom: 5px;
  }
  input {
    width: 100%;
    padding: 10px;
    outline: none;
    border-radius: 10px;
    background-color: lightgrey;
    border: none;
  }
}

.ProfileUpdateInfo-birth {
  p {
    margin-bottom: 5px;
  }
  select {
    padding: 10px;
    background-color: lightgrey;
    border-radius: 10px;
    border: none;
    outline: none;
    width: 30%;
  }
  div {
    display: flex;
    justify-content: space-between;
  }
}

.ProfileUpdateInfo-btn {
  display: flex;
  margin-top: 20px;
  div {
    margin-left: auto;
  }
  button {
    cursor: pointer;
    border: 10px;
    padding: 10px 30px;
    border-radius: 10px;
    color: white;
    background-color: #71c9ce;
  }
}
