div,
input {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

input:focus {
  outline: none;
}

select:focus {
  outline: none;
}

input::-webkit-inner-spin-button {
  display: none;
}

.none {
  display: none;
}
.vline {
  position: relative;
  border-left : thick solid #6f7070;
  height : 30px;
}