body {
  margin: 0px;
}
div,
input {
  box-sizing: border-box;
}
.Large {
  width: 70%;
  height: 50px;
}
.Small {
  width: 30%;
  height: 50px;
  font-size: 12px;
}
.Tiny {
  width: 20%;
  height: 20px;
  font-size: 7px;
}
