.CreateFeedFindUser {
  position: absolute;
  height: 300px;
  background-color: rgb(236, 232, 232);
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px grey;
  top: 420px;
  left: 805px;
  padding: 20px;
}

.CreateFeedFindUser-result {
  height: 210px;
  overflow: scroll;
}
