.CreateSetting {
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .empty {
    width: 50%;
  }
}

.setting-text {
  text-align: center;
  width: 100%;
  font-size: 20px;
  border-bottom: 1px solid black;
}

.table-wrap {
  transition: all 0.5s;
  width: 100%;
}

.arrow {
  cursor: pointer;
}

.radio {
  margin-top: 10px;
  overflow: hidden;
  width: 100%;

  label {
    &:hover {
      border-bottom: 1px solid black;
      cursor: pointer;
    }
  }
}

.down {
  transform: translateY(-90px);
}

.up {
  transform: translateY(0px);
}

.setting-label {
  cursor: pointer;
}

.radio-item {
  display: flex;
  justify-content: space-around;
}

// @media (max-width: 600px) {
//   .setting-text {
//     border-left: 1px solid black  ;
//   }
// }
