.Setting {
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .empty {
    width: 150px;
  }
}

.setting-text {
  text-align: center;
  width: 100%;
  font-size: 20px;
  border-bottom: 1px solid black;
}

.table-wrap {
  transition: all 0.5s;
}

.arrow {
  cursor: pointer;
}

.radio {
  overflow: hidden;

  label {
    &:hover {
      border-bottom: 1px solid black;
      cursor: pointer;
    }
  }
}

.down {
  transform: translateY(-90px);
}

.up {
  transform: translateY(0px);
}

.setting-label {
  cursor: pointer;
}
